.LoginForm{
	padding: 20px;
	background-color: black;
	height: 100%;
	text-align: center;
}

.LoginForm-Form form{
	margin:20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.LoginForm-Form form label{
	margin-left: 10px;
}

.LoginForm-Form form input{
	margin: 10px;
	padding: 10px;
	border: 2px solid #A459D1;
	background-color: black;
	color: white;
}

.LoginForm-Form form button{
	padding:10px;
	margin: 20px 10px;
	background-color: #A459D1;
	border: #A459D1;
	color: white;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}