.Navbar{
	overflow: hidden;
    position: fixed;
    top: 0;
	width: 70%;
	background-color: #000000;
}

.welcome-navbar{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}

.welcome-navbar h1 span{
	font-size: 25px;
}

.welcome-navbar i{
	color: #A459D1;
	font-size: 25px;
}

.sub-navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sub-navbar a{
	text-decoration: none;
	text-align: center;
	color: #A459D1;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width:25%;
}
.sub-navbar a:hover{
	text-decoration: none;
	color: #ffffff;
	background-color: #A459D1;
	font-size: 18px;
}

.sub-navbar a i{
	margin-right: 10px;
}