.Notifications{
	padding:15px;
	margin:0 10px;
	width:20%;
	background-color: #000000;
}

.Notifications h1{
	display: flex;
	width: 200px;
	margin:30px;
	font-size: 20px;
	overflow: hidden;
    position: fixed;
    top: 0;
}

.Notifications i{
	margin-right: 10px;
}